{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% include ':flash:alert.html.twig' %}

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">{{ "Add new comment" | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
